# Default profile to use in docker-compose.yml
COMPOSE_PROFILES=deliver

# Path prefix for the app (deliver-app)
PATH_PREFIX=/

# URL of the backend (deliver-app)
API_URL=https://deliver.docker.localhost

# URL of translation proxy API (previewer-app)
PREVIEW_API_URL=http://localhost:8001

# URL of the assets (deliver-app)
STATIC_URL=http://testrunner-nui-static.docker.localhost/v1/

# URL of the assets (previewer-app)
PREVIEW_STATIC_URL=http://localhost:8021

# NPM token to install private packages
NPM_TOKEN=
