/*
 * SPDX-FileCopyrightText: 2012-2026 Open Assessment Technologies S.A.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-TAO-Commercial-License
 */

/* all gets scoped to within .qti-item */
blockquote {
    background: cornsilk;
    color: sienna;
    font-family: Georgia, sans-serif;
    font-size: 125%;
    line-height: 2;
}
blockquote {
    padding: 2rem;
    border: 2.5rem double sienna;
    font-style: italic;
    text-align: center;
    color: chocolate;
}
.qti-inlineChoiceInteraction {
    --color-bg-default: white;
    --color-bg-actionable: sienna;
    --color-bg-actionable-hover: chocolate;
    --color-border-actionable: chocolate;
    --color-border-actionable-hover: chocolate;
    --border-thin: 1px;
    --border-medium: 1px;
    --border-medium-plus: 1px;
    line-height: 1.5;
    filter: contrast(1.5);
}
.qti-inlineChoiceInteraction span {
    --color-bg-default: white;
    background: white;
}
